.Ad {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    color: red;
    border-radius: 0.5rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Ad-grey {
    color: grey;
}

.Ad-blue {
    color: blue;
}